
body {
    background-color: rgb(197, 197, 197);
}

.center {
    margin: auto;
    width: 50%;
    border: 3px solid;
    padding: 10px;
}

.formdiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }