
body {
    background-color: whitesmoke;
    font-family: 'Roboto';
}

.content {
	margin: 10px;
}
.center {
    margin: auto;
    width: 50%;
    border: 2px solid;
    padding: 20px;
}

.formdiv {
    margin: auto;
    width: 80%;
    padding: 10px;
}

#logo {
	margin: auto;
  color: rgb(10, 134, 175);
  text-align: center;
}

#Buttons {
  margin-top: 30px;
}

input, button {
  /*margin-top: 10px;*/
	margin: 3px;
}

.loader {
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid rgb(10, 134, 175);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

marquee{
  font-size: 30px;
  font-weight: 800;
  color: #8ebf42;
  font-family: sans-serif;
}

.HomeNav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: rgb(10, 134, 175);
}

.HomeNav li {
	float: left;
}

.HomeNav li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.HomeNav li a:hover {
	background-color: rgb(11, 89, 119);
}

.body-content {
  margin: 20px;
}

#account-section {
  padding-bottom: 10px;
}

#car-section {
  padding-bottom: 10px;
}

#garage-section {
  padding-bottom: 10px;
}

#map_area {
  padding: 20px;
  margin: 20px;
  width: 100%;
  height: 750px;
  background-color: grey;
  clear: both;
  float: bottom;
}

table {
  border-collapse: collapse;
}

th {
  background-color: rgb(10, 134, 175);
  color: white;
  text-align: center;
  padding-right: 15px;
  padding-left: 15px;
}

td {
  text-align: left;
}

th, td {
  border: 1px solid black;
}

.about-section {
  width: 70%;
}

.contact-section {
  width: 70%;
}

.smallwhitetext{
  font-size:12px;
  color: white;
  margin-top: 10px;
  margin-bottom:0px;
}

.reserve-section-header {
  color: white;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 0px;
}

.reserve-container {
  display: flex;
  flex-direction: row;

}

.reserve-header {
  color: white;
  font-size: 18px;
  margin-left: auto;
}

#Gdrop{
  float: left;
  background-color: rgb(10, 134, 175);
  padding: 40px;
  margin: 20px;
  height: 500px;
  width: 250px;
  border-radius: 25px;
}



#ParkingLot {
  float: right;
  background-color: rgb(10, 134, 175);
  padding: 40px;
  margin: 20px;
  height: 500px;
  width: 850px;
  border-radius: 25px;

}


.HorizontalContainer {
  display: flex;
  flex-direction: row;
  align-items: left;

}
.VerticalContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.ParkingSpot {
    float: left;
    margin:20px;
    height: 50px;
    width: 100px;
    background-color: rgb(23, 209, 48);

}

.ParkingSpotFill {
  float: left;
  margin:20px;
  height: 50px;
  width: 100px;
  background-color: rgb(230, 17, 17);
}


/* For the Help page */
.accordion {
  background-color:rgb(10, 134, 175);
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .accordion:hover {
  background-color:  rgb(11, 89, 119);
}

.answer {
  padding: 10px;
  display: none;
  overflow: hidden;
}

/* For the Account Pages */
.AccountNav {
  text-align: center;
}

.AccountNav li {
  display: inline;
}

.AccountNav a {
  display: inline-block;
  padding: 50px;
}

.account-nav-icon {
  text-decoration: none;
}
