
body {
    background-color: rgb(197, 197, 197);
}

.content {
	margin: 10px;
}
.center {
    margin: auto;
    width: 50%;
    border: 2px solid;
    padding: 20px;
}

.formdiv {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#logo {
	margin: auto;
    width: 50%;
    padding: 10px;
}

input, button {
	margin: 3px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
	background-color: #111;
  }

   #rectangle {
    height: 50px;
    width: 100px;
    background-color: #555;
  }

  .smallwhitetext{
    font-size:12px;
    color: white;
    margin-top: 10px;
    margin-bottom:0px;
  }

  #Gdrop{
    float: left;
    background-color: rgb(10, 134, 175);
    padding: 40px;
    margin: 20px;
    height: 500px;
    width: 250px;
    border-radius: 25px;
  }

  

  #ParkingLot {
    float: right;
    background-color: rgb(10, 134, 175);
    padding: 40px;
    margin: 20px;
    height: 500px;
    width: 850px;
    border-radius: 25px;

  }